
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"

MAINICON ICON "icon.ico"

//
// Menu resources
//
MENU_BASE MENU
{
    POPUP "File"
    {
        MENUITEM "New", MENU_FILE_NEW
        MENUITEM "Open", MENU_FILE_OPEN
        MENUITEM "Save", MENU_FILE_SAVE, GRAYED
		MENUITEM "Save As", MENU_FILE_SAVE_AS, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Select EO Folder", MENU_FILE_SELECT_EO_INSTALL
        MENUITEM SEPARATOR
        MENUITEM "Exit", MENU_FILE_EXIT
    }
    POPUP "Map"
    {
//        MENUITEM "Clear", MENU_MAP_CLEAR, GRAYED
        MENUITEM "Properties", MENU_MAP_PROPERTIES, GRAYED
    }
/*    POPUP "Edit", GRAYED
    {
        MENUITEM "Undo", MENU_EDIT_UNDO, GRAYED
        MENUITEM "Redo", MENU_EDIT_REDO, GRAYED
    }
    POPUP "Upload", GRAYED
    {
        MENUITEM "Update Map", MENU_UPLOAD_UPDATE_MAP, GRAYED
        MENUITEM "Settings", MENU_UPLOAD_SETTINGS, GRAYED
    }*/
    POPUP "Layers"
    {
        MENUITEM "Ground",      MENU_LAYERS_GROUND,      CHECKED
        MENUITEM "Objects",     MENU_LAYERS_OBJECTS,     CHECKED
        MENUITEM "Overlay",     MENU_LAYERS_OVERLAY,     CHECKED
        MENUITEM "Down Wall",   MENU_LAYERS_DOWN_WALL,   CHECKED
        MENUITEM "Right Wall",  MENU_LAYERS_RIGHT_WALL,  CHECKED
        MENUITEM "Roof",        MENU_LAYERS_ROOF,        CHECKED
        MENUITEM "Top",         MENU_LAYERS_TOP,         CHECKED
        MENUITEM "Shadow",      MENU_LAYERS_SHADOW,      CHECKED
		MENUITEM "Overlay 2",   MENU_LAYERS_OVERLAY2,    CHECKED
		MENUITEM "Spawns",      MENU_LAYERS_SPAWNS,      CHECKED
		MENUITEM "Special",     MENU_LAYERS_SPECIAL
		MENUITEM "Grid Lines",  MENU_LAYERS_GRID_LINES
    }
    POPUP "Help"
    {
        MENUITEM "About", MENU_HELP_ABOUT
    }
}



//
// Dialog resources
//
DIALOG_MAP_PROPERTIES DIALOG 0, 0, 264, 133
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Map Properties"
FONT 8, "Ms Shell Dlg"
{
    COMBOBOX        DIALOG_MAP_PROPERTIES_TYPE, 29, 8, 87, 13, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS | CBS_SORT
    COMBOBOX        DIALOG_MAP_PROPERTIES_EFFECT, 5, 25, 112, 13, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS | CBS_SORT
    AUTOCHECKBOX    "Mini-map Available", DIALOG_MAP_PROPERTIES_MINIMAP, 8, 57, 108, 10 
    AUTOCHECKBOX    "Can Teleport", DIALOG_MAP_PROPERTIES_TELEPORT, 8, 70, 108, 10
    EDITTEXT        DIALOG_MAP_PROPERTIES_WIDTH, 31, 42, 24, 13, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        DIALOG_MAP_PROPERTIES_HEIGHT, 85, 42, 24, 13, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        DIALOG_MAP_PROPERTIES_RESET_X, 20, 95, 24, 13, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        DIALOG_MAP_PROPERTIES_RESET_Y, 60, 95, 24, 13, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        DIALOG_MAP_PROPERTIES_MUSIC_TRACK, 162, 20, 24, 13, ES_AUTOHSCROLL | ES_NUMBER
    COMBOBOX        DIALOG_MAP_PROPERTIES_MUSIC_CONTROL, 162, 37, 80, 13, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS | CBS_SORT
    EDITTEXT        DIALOG_MAP_PROPERTIES_MUSIC_AMBIENT, 189, 54, 24, 13, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        DIALOG_MAP_PROPERTIES_NAME, 162, 95, 76, 13, ES_AUTOHSCROLL
    GROUPBOX        "Music/Sound", DIALOG_MAP_PROPERTIES_MUSIC_GROUP, 124, 8, 128, 80
    GROUPBOX        "Respawn", DIALOG_MAP_PROPERTIES_RESET_GROUP, 4, 84, 90, 28
    RTEXT           "Type:", DIALOG_MAP_PROPERTIES_TYPE_LABEL, 8, 10, 18, 10, SS_RIGHT
    RTEXT           "Track:", DIALOG_MAP_PROPERTIES_MUSIC_TRACK_LABEL, 134, 22, 24, 10, SS_RIGHT
    //RTEXT           "Effect:", DIALOG_MAP_PROPERTIES_EFFECT_LABEL, 8, 27, 24, 10, SS_RIGHT
    RTEXT           "Control", DIALOG_MAP_PROPERTIES_MUSIC_CONTROL_LABEL, 134, 38, 24, 10, SS_RIGHT
    RTEXT           "Ambient Sound:", DIALOG_MAP_PROPERTIES_MUSIC_AMBIENT_LABEL, 134, 55, 52, 10, SS_RIGHT
    RTEXT           "Width:", DIALOG_MAP_PROPERTIES_WIDTH_LABEL, 5, 44, 22, 10, SS_RIGHT
    RTEXT           "Height:", DIALOG_MAP_PROPERTIES_HEIGHT_LABEL, 59, 44, 24, 10, SS_RIGHT
    RTEXT           "X:", DIALOG_MAP_PROPERTIES_RESET_X_LABEL, 7, 97, 10, 10, SS_RIGHT
    RTEXT           "Y:", DIALOG_MAP_PROPERTIES_RESET_Y_LABEL, 47, 97, 9, 10, SS_RIGHT
    RTEXT           "Name:", DIALOG_MAP_PROPERTIES_NAME_LABEL, 139, 97, 20, 10, SS_RIGHT
    DEFPUSHBUTTON   "OK", DIALOG_MAP_PROPERTIES_OK, 80, 116, 50, 14
    PUSHBUTTON      "Cancel", DIALOG_MAP_PROPERTIES_CANCEL, 140, 116, 50, 14
}



DIALOG_NEW_MAP DIALOG 0, 0, 120, 78
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "New Map"
FONT 8, "Ms Shell Dlg"
{
    EDITTEXT        DIALOG_NEW_MAP_NAME, 36, 8, 76, 12, ES_AUTOHSCROLL
    EDITTEXT        DIALOG_NEW_MAP_WIDTH, 36, 24, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        DIALOG_NEW_MAP_HEIGHT, 36, 40, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "OK", DIALOG_NEW_MAP_OK, 8, 56, 50, 14
    PUSHBUTTON      "Cancel", DIALOG_NEW_MAP_CANCEL, 62, 56, 50, 14
    RTEXT           "Name:", DIALOG_NEW_MAP_NAME_LABEL, 8, 10, 20, 10, SS_RIGHT
    RTEXT           "Width:", DIALOG_NEW_MAP_WIDTH_LABEL, 8, 26, 22, 10, SS_RIGHT
    RTEXT           "Height:", DIALOG_NEW_MAP_HEIGHT_LABEL, 8, 42, 24, 10, SS_RIGHT
}



DIALOG_ABOUT DIALOG 0, 0, 150, 110
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "About"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "Cool!", DIALOG_ABOUT_CLOSE, 44, 88, 50, 14
    CTEXT           "\nEO Map Editor 0.4.3\n\nhttps://eoserv.net/\n\nMade by:\nSausage, Apollo, Bart, Cirras", DIALOG_ABOUT_TEXT, 8, 8, 130, 72, WS_DLGFRAME | SS_CENTER | SS_NOPREFIX, WS_EX_CLIENTEDGE
}



DIALOG_EDIT_WARP DIALOG 0, 0, 120, 80
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_LEFTSCROLLBAR
CAPTION "Add Warp"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", DIALOG_EDIT_WARP_OK, 8, 58, 50, 14
    PUSHBUTTON      "Cancel", DIALOG_EDIT_WARP_CANCEL, 62, 58, 50, 14
    EDITTEXT        DIALOG_EDIT_WARP_X, 32, 8, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        DIALOG_EDIT_WARP_Y, 32, 24, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "X", DIALOG_EDIT_WARP_X_LABEL, 8, 10, 20, 10, SS_LEFT
    LTEXT           "Y", DIALOG_EDIT_WARP_Y_LABEL, 8, 26, 20, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_WARP_MAP, 32, 38, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Map", DIALOG_EDIT_WARP_MAP_LABEL, 8, 40, 20, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_WARP_LEVEL, 86, 10, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Level", DIALOG_EDIT_WARP_LEVEL_LABEL, 62, 10, 20, 10, SS_LEFT
    LTEXT           "Key", DIALOG_EDIT_WARP_KEY_LABEL, 62, 40, 20, 10, SS_LEFT
    AUTOCHECKBOX    "Door", DIALOG_EDIT_WARP_DOOR, 62, 26, 48, 10, 0, WS_EX_RIGHT
    EDITTEXT        DIALOG_EDIT_WARP_KEY, 86, 38, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
}

DIALOG_ITEM_SPAWN_LIST DIALOG 0, 0, 120, 80
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_LEFTSCROLLBAR
CAPTION "Chest spawns"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "Save", DIALOG_ITEM_SPAWN_LIST_SAVE, 8, 58, 50, 14
    PUSHBUTTON      "Add", DIALOG_ITEM_SPAWN_LIST_ADD, 8, 20, 50, 14
    PUSHBUTTON      "Delete", DIALOG_ITEM_SPAWN_LIST_DELETE, 62, 20, 50, 14
    COMBOBOX        DIALOG_ITEM_SPAWN_LIST_ITEMS, 4, 5, 80, 13, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS// | CBS_SORT
    PUSHBUTTON      "Edit", DIALOG_ITEM_SPAWN_LIST_EDIT, 86, 5, 30, 14
}

DIALOG_EDIT_ITEM_SPAWN DIALOG 0, 0, 120, 80
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_LEFTSCROLLBAR
CAPTION "Edit item spawn"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", DIALOG_EDIT_ITEM_SPAWN_OK, 8, 58, 50, 14
    PUSHBUTTON      "Cancel", DIALOG_EDIT_ITEM_SPAWN_CANCEL, 62, 58, 50, 14
    EDITTEXT        DIALOG_EDIT_ITEM_SPAWN_ID, 32, 5, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Item", DIALOG_EDIT_ITEM_SPAWN_ID_LABEL, 5, 7, 20, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_ITEM_SPAWN_AMOUNT, 32, 23, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Amount", DIALOG_EDIT_ITEM_SPAWN_AMOUNT_LABEL, 5, 25, 25, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_ITEM_SPAWN_KEY, 32, 41, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Key", DIALOG_EDIT_ITEM_SPAWN_KEY_LABEL, 5, 43, 20, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_ITEM_SPAWN_TIME, 80, 5, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Time", DIALOG_EDIT_ITEM_SPAWN_TIME_LABEL, 60, 7, 20, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_ITEM_SPAWN_SLOT, 80, 23, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Slot", DIALOG_EDIT_ITEM_SPAWN_SLOT_LABEL, 60, 25, 20, 10, SS_LEFT
}

DIALOG_NPC_SPAWN_LIST DIALOG 0, 0, 120, 80
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_LEFTSCROLLBAR
CAPTION "NPC spawns"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "Save", DIALOG_NPC_SPAWN_LIST_SAVE, 8, 58, 50, 14
    PUSHBUTTON      "Add", DIALOG_NPC_SPAWN_LIST_ADD, 8, 20, 50, 14
    PUSHBUTTON      "Delete", DIALOG_NPC_SPAWN_LIST_DELETE, 62, 20, 50, 14
    COMBOBOX        DIALOG_NPC_SPAWN_LIST_NPCS, 4, 5, 80, 13, WS_TABSTOP | WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS// | CBS_SORT
    PUSHBUTTON      "Edit", DIALOG_NPC_SPAWN_LIST_EDIT, 86, 5, 30, 14
}

DIALOG_EDIT_NPC_SPAWN DIALOG 0, 0, 125, 62
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_LEFTSCROLLBAR
CAPTION "Edit NPC spawn"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", DIALOG_EDIT_NPC_SPAWN_OK, 8, 40, 50, 14
    PUSHBUTTON      "Cancel", DIALOG_EDIT_NPC_SPAWN_CANCEL, 62, 40, 50, 14
    EDITTEXT        DIALOG_EDIT_NPC_SPAWN_ID, 32, 5, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "NPC", DIALOG_EDIT_NPC_SPAWN_ID_LABEL, 5, 7, 20, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_NPC_SPAWN_SPEED, 32, 23, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Speed", DIALOG_EDIT_NPC_SPAWN_SPEED_LABEL, 5, 25, 25, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_NPC_SPAWN_RESPAWN, 95, 23, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Respawn", DIALOG_EDIT_NPC_SPAWN_RESPAWN_LABEL, 60, 25, 30, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_NPC_SPAWN_AMOUNT, 95, 5, 24, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Amount", DIALOG_EDIT_NPC_SPAWN_AMOUNT_LABEL, 60, 7, 30, 10, SS_LEFT
}

DIALOG_EDIT_SIGN DIALOG 0, 0, 120, 80
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_LEFTSCROLLBAR
CAPTION "Edit sign"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", DIALOG_EDIT_SIGN_OK, 8, 58, 50, 14
    PUSHBUTTON      "Cancel", DIALOG_EDIT_SIGN_CANCEL, 62, 58, 50, 14
    EDITTEXT        DIALOG_EDIT_SIGN_TITLE, 32, 5, 78, 12, ES_AUTOHSCROLL
    LTEXT           "Title :", DIALOG_EDIT_SIGN_TITLE_LABEL, 5, 7, 20, 10, SS_LEFT
    EDITTEXT        DIALOG_EDIT_SIGN_MESSAGE, 32, 23, 78, 12, ES_AUTOHSCROLL
    LTEXT           "Message :", DIALOG_EDIT_SIGN_MESSAGE_LABEL, 5, 25, 25, 10, SS_LEFT
}

//
// Manifest resources
//
1                  RT_MANIFEST    "manifest.xml"
